*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
  
html {
    font-size:100%;
}
  







:root {
    /** mappa giorno **/
    --blue-background: #C2E9F6;
    --blue-border: #72cce3;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;

    /** mappa notte **/
    --indigo-background: #808fc7;
    --indigo-border: #5d6baa;
    --indigo-color: #6b7abb;
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;

    /** general **/
    --white: #fff;
}

  






  .background {
    position: absolute;
    left: 0;
    top: 0;
    background: var(--blue-background);
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 250ms ease-in;
  }
  





  
  .toggle--checkbox {
    display: none;
  }

  .toggle--checkbox:checked ~ .background {
    background: var(--indigo-background);
  }
  .toggle--checkbox:checked + .toggle--label {
    background: var(--indigo-color);
    border-color: var(--indigo-border);
    /** Change the cloud to stars **/
    /** Change the sun into the moon **/
    /** Show the dimples on the moon **/
  }
  .toggle--checkbox:checked + .toggle--label .toggle--label-background {
    left: 60px;
    width: 5px;
  }
  .toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
    width: 5px;
    height: 5px;
    top: -25px;
  }
  .toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
    width: 5px;
    height: 5px;
    left: -30px;
    top: 20px;
  }
  .toggle--checkbox:checked + .toggle--label:before {
    background: var(--white);
    border-color: var(--gray-border);
    animation-name: switch;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
  }
  .toggle--checkbox:checked + .toggle--label:after {
    transition-delay: 350ms;
    opacity: 1;
  }
  .toggle--label {
    /** Placeholder element, starting at blue **/
    width: 200px;
    height: 100px;
    background: var(--blue-color);
    border-radius: 100px;
    border: 5px solid var(--blue-border);
    display: flex;
    position: relative;
    transition: all 350ms ease-in;
    /** The sun cloud and moon stars **/
    /** Sun/Moon element **/
    /** Gray dots on the moon **/
  }
  .toggle--label-background {
    width: 10px;
    height: 5px;
    border-radius: 5px;
    position: relative;
    background: var(--white);
    left: 135px;
    top: 45px;
    transition: all 150ms ease-in;
  }
  .toggle--label-background:before {
    content: "";
    position: absolute;
    top: -5px;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background: var(--white);
    left: -20px;
    transition: all 150ms ease-in;
  }
  .toggle--label-background:after {
    content: "";
    position: absolute;
    top: 5px;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background: var(--white);
    left: -10px;
    transition: all 150ms ease-in;
  }
  .toggle--label:before {
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    transition: all 350ms ease-in;
    content: "";
    width: 82px;
    height: 82px;
    border: 5px solid var(--yellow-border);
    top: 4px;
    left: 4px;
    position: absolute;
    border-radius: 82px;
    background: var(--yellow-background);
  }
  .toggle--label:after {
    transition-delay: 0ms;
    transition: all 250ms ease-in;
    position: absolute;
    content: "";
    box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
    left: 143px;
    top: 23px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    opacity: 0;
  }
  
  @keyframes switch {
    0% {
      left: 4px;
    }
    60% {
      left: 4px;
      width: 112px;
    }
    100% {
      left: 104px;
      width: 82px;
    }
  }
  @keyframes reverse {
    0% {
      left: 104px;
      width: 82px;
    }
    60% {
      left: 72px;
      width: 112px;
    }
    100% {
      left: 4px;
    }
  }


































body {
    font-family: 'Text Me One', sans-serif;
    -webkit-font-smoothing:antialiased;
    font-size:18px;
    font-weight:400;
    line-height:1.4;
    text-rendering:optimizeLegibility;
    margin: 0;
    background-color:#fff;
}
  




.wrapper {
    height:100%;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.left {
    background-color:#FEF6C9;
    border-right:1px solid rgba(0,0,0,.05);
    float:right;
    height:100%;
    margin-left:-1px;
    min-width:256px;
    position:fixed;
    width:33.33%;
}

.name-hero {
    bottom:0;
    height:290px;
    left:0;
    margin:auto;
    position:absolute;
    right:0;
    top:0;
    width:85%;
}















  
.circle {
    background: plum;
    width: 200px;
    height: 200px;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 3s linear infinite;

    background:url(https://images.unsplash.com/photo-1547542928-dd9bc5371279?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ) no-repeat center center ;
      background-size:100%;
    background-position:0px;
      border-radius:100%;
      height:150px;
      margin:0 auto;
      position:relative;
      width:150px;
}
  
.circle img {
    width: 100%;
}
  
@keyframes morph {
    0%, 100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}














.skill-set li
{
    border-radius:5px;
    color:#FFF;
    display:inline-block;
    list-style:none;
    margin:15px 15px 0 0;
    padding:10px;
    text-align:justify;
    background: linear-gradient(to right, #00CECB 70%, #FF5E5B 30%);
}




  
  h1
  {
      color:rgba(0,0,0,.75);
  }
  
  
  

  
  .right
  {
      float:right;
      height:100%;
      position:relative;
      width:66.66%;
  }
  
  

  
  .me-img
  {
      background:url(https://images.unsplash.com/photo-1547542928-dd9bc5371279?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ) no-repeat center center ;
      background-size:100%;
    background-position:0px;
      border-radius:100%;
      height:150px;
      margin:0 auto;
      position:relative;
      width:150px;
  }
  
  .name-hero h1
  {
      font-size:1.5em;
      text-align:center;
  }
  
  .name-hero h1 em
  {
      color:rgba(0,0,0,.3);
      font-style:normal;
      font-weight:700;
  }
  
  .name-hero p
  {
      color:rgba(0,0,0,.75);
      font-size:.75em;
      line-height:1.5;
      margin:0 8px 0 0;
      text-align:center;
  }
  
  .name-hero .name-text
  {
      margin:0 auto;
      width:85%;
  }
  
  .inner
  {
      margin:0 auto;
      max-width:975px;
      padding:3em;
  }
  
  .inner h1
  {
      font-size:1.75em;
  }
  
  .inner p
  {
      color:rgba(0,0,0,.5);
  }
  
  .inner p em
  {
      color:rgba(0,0,0,1);
      font-style:normal;
  }
  
  .inner section
  {
      margin:100px auto;
  }
  
  ul
  {
      list-style-type:none;
      margin-top:-10px;
      max-width:570px;
      padding:0;
  }
  

  
  @media screen and (max-width: 48em) {
      .right,.left
      {
          float:none;
      position:relative !important;
          width:100%;
      min-height:500px;
      }
  
  
  @media screen and (max-width: 75em) {
      body
  { font-size:16px;}
  }
  
  @media screen and (max-width: 60em) {
      body
  { font-size:14px;}
  }

}






 

























